<!DOCTYPE html>
<html>
<head>
	<title>Url shortener Microsrvice</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>URL shortener Microservice.</h1>
	<h3>User Stories:</h3>
	<ul>
		<li>I can pass a URL as a parameter and i will receive a shortened URL in the JSON response.</li>
		<li>When i visit that shortened URL. it will redirect me to my original link.</li>
	</ul>
	<h3>Example usage:</h3>
	<code>link here</code>

	<h3>Example output</h3>
	<code>json here</code>
	
	<h3>Usage:</h3>
	<code>shortened link </code>

	<h3>will redirect to:</h3>
	<code> originale link</code>
</body>
</html>